.quiz-survey-container {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.quiz-survey-form {
    border: 2px solid white;
    background: rgba(5, 169, 240, 0.75);
    padding: 4rem;
    filter: drop-shadow(5px 5px 5px #000000);
}