.header-bar {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    /* background: linear-gradient(90deg, rgb(126, 99, 207) 0, rgba(158, 240, 247, 1) 100%); */
}

.header-logo {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.0rem;
    margin-left: 5%;
}

.header-logo-img {
    height: 6.0rem;
    width: 6.0rem;
}

.header-menu {
    list-style-type: none;
    margin-right: 5%;
}

.header-items {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 2.5rem;
}

.header-links {
    text-decoration: none; 
    color: white;

    font-size: 2.0rem;
}

.header-auth {
    background-color: red;
}