.labels {
    font-size: 20px;
    font-family: "Avenir Next";
    color: rgb(181, 177, 177);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.81803055078562,0,0,0.81803055078562,0,0);
    -webkit-transform: matrix( 0.81803055078562,0,0,0.81803055078562,0,0);
    -ms-transform: matrix( 0.81803055078562,0,0,0.81803055078562,0,0);
    height: 14px;
    z-index: 6;
    margin-left: -8px;
    margin-bottom: 13px;
}

.inv {
    display: none;
}

.container {
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.results-scroll {
    height: 500px;
    overflow: scroll;
}

.intro {
    position: relative;
    display: grid;
    grid-template-columns: [callout] 1fr;
    max-width: 100%;
    height: calc(100vh - 2.55rem);
    overflow: hidden;

}

#main-title {
    font-size: 45px;
    font-family: 'Work Sans', sans-serif;
    color: #1b2358;
    font-weight: bold;
    line-height: 1.2;
    height: 67px;
    margin: 0px;
}

#subtitle {
    margin-top: 10px;
    margin-bottom: 25px;
    animation-delay: 0.3s;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: #aa532b;
}

#output-stars {
    border: 0px;
}

#query-form {
    padding-left:50px;
}

.input-files {
    grid-area: callout;
    justify-self: center;
    text-align: center;
}

.center {
    justify-content: center;
    text-align: center;
}

#button-update {
    background-color:#aa532b;
    color: #fff;
}

#button-query {
    background-color:#aa532b;
    color: #fff;
}

.modal-content {
    padding: 0px;
}


.head {
    padding-top:60px;
}

#upload-space {
    padding:10px;
    width: 280px;
}

#filepath {
    width: 200px;
}

.notification {
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}