.profile-container {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.profile {
    border: 2px solid white;
    background: rgba(5, 169, 240, 0.75);
    padding: 4rem;
    filter: drop-shadow(5px 5px 5px #000000);
    text-align: center;

    width: 50%;
}

.profile-picture-container {
    border-radius: 50%;
    border: 5px solid #aaa;
    width: 15rem;
    height: 15rem;
    /* filter: drop-shadow(5px 5px 5px #000000); */

    position: absolute;
    top: 0;
    right: 0;
    margin-top: -4.0rem;
    margin-right: -4.0rem;
    overflow: hidden;

    background-color: white;
}

.profile-picture {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-picture:hover {
    opacity: 0.75;
}